body{
  background-color: rgb(206, 197, 197);  
}

h1{
    font-weight: 400;
    font-family: fantasy;
}

img{
    width: 33%;
    padding: 20px;
    box-shadow: 0 6px 8px 0 rgb(2, 2, 2, 0.2);
    border-radius: 5px;
}

#start-btn
{
    width: 40%;
} 


#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}

.copy_right_footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img:hover {
    border-radius : 140px;
}

#textbox
{
    width: 300px;
}

.column {
    display: inline;
    padding: 15px;
}
